[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "blender_addons/amaranth"]
	path = blender_addons/amaranth
	url = git@github.com:venomgfx/amaranth.git
[submodule "blender_addons/easy-logging"]
	path = blender_addons/easy-logging
	url = git@github.com:Nikos-Prinios/easy-logging.git
